@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Helsinki';
    src: url('../fontes/helsinki.ttf') format('opentype');
    font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../imagens/fundo.jpg') no-repeat fixed;
    background-size: cover;
    margin: auto;
    max-width: 800px;
    color: #141414;
    font-family: 'Helsinki', Arial, Helvetica, sans-serif;
}
a {
    color: #141414;
    cursor: pointer;
}
header {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header img {
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.425);
}
header p {
    padding: 9px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 6px;
}
nav {
    text-align: center;
    margin: auto;
    font-size: 1.2em;
}
nav a {
    background: #616161a9;
    padding: 8px;
    border-radius: 8px;
    color: #141414;
    transition: 0.2s;
}
nav a:hover {
    background: #141414;
    color: #fff;
}

main h1 {
    background: rgba(12, 12, 104, 0.329);
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.capas {
    min-width: 160px;
    height: 220px;
    border-radius: 2px;
    margin: 5px;
    box-shadow: 2px 2px 8px;
    transition: 0.2s;
}
.capas:hover {
    scale: 1.2;
    margin: 20px;
}
#c1 {
    background-image: url('../imagens/novomundo-160px.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
#c2 {
    background-image: url('../imagens/hereditaria-160px.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.links {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 3px;
    margin: 8px;
    padding: 0px;
    font-family: 'Helsinki';
    font-size: 0.8em;
}
.links p {
    line-height: 29px;
}
.links a {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 3px;
    color: white;
    margin: 2px;
    padding: 10px;
    transition: 0.3s;
}
.links a:hover {
    background-color: rgba(0, 0, 0, 0.377);
    color: black;
    border-radius: 10px;
    scale: 0.8;
    transition: 0.3s;
    padding: 10px;
    font-size: 1em;
}

footer {
    text-align: center;
    margin: 10px;
    margin-bottom: 15px;
    font-family: 'helsinki';
}
footer p {
    background-color: gray;
    border-radius: 5px;
    padding: 3px;
}
footer a {
    color: white;
    font-weight: normal;
    transition: 0.2s;
}
footer a:hover {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.2s;
}